@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(135deg, rgba(255, 0, 150, 0.5), rgba(0, 204, 255, 0.5)), url('../dist/backg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solid #2e2e2e;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #555 #2e2e2e;
}

@keyframes shake-horizontal {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.shake-horizontal {
  animation: shake-horizontal 0.5s ease-in-out; 
}

